body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100vh;

    margin: 0;
    color: white;
    background-color: black;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

header {
    width: 100%;
    min-height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 20px;
}

header .socialMedia {
    width: 144px;
}

header > .socialMedia > ul {
    list-style-type: none;
    width: 100%;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 20px;
}
main ul {
    list-style-type: none;
    width: 80%;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
main ul li img {
    width: 144px;
    border-radius: 10px;
}

img:hover {
    filter: opacity(0.5);
    transition: 0.5s;
}
p:hover {
    filter: opacity(0.5);
    transition: 0.5s;
}

footer {
    display: flex;
    justify-content: center;

    bottom: 0;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 10px;
    width: 10px;
}